@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-animate-container {
    transform: translateY(-50px);
    opacity: 0;
}

.p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
    color: unset !important;
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    color: unset !important;
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon {
    color: unset !important;
}

.layout-screen {
    min-height: calc(100vh - 5rem);
    padding-top: 7.5rem;
}
